icons_format = "{icon}"

[theme]
theme = "solarized-dark"
[theme.overrides]
idle-bg = "#123456"
idle-fg = "#abcdef"

[icons]
icons = "awesome4"

[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = " $icon root: $available.eng(w:2) "

[[block]]
block = "battery"
driver = "upower"
format = " $icon $percentage {$time |} "
full_format = " $icon $percentage "

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:'%a %d/%m %R') "
